@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/*-----------------------------------------------------------------------------------*/
/*  GENERAL STYLING
/*-----------------------------------------------------------------------------------*/

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    color: #757b87;
}

.main-header {
    margin-bottom: 20px;
    background: black;
}
.icon-section{
    background-color: #F60;
    line-height: 7px;
    padding-top: 10px;
    margin-bottom: 0;
}
a:link,
a:visited,
a:hover,
a:active {
    color: #f60;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li label {
    position: relative;
    bottom: 5px;
    color: #757b87;
    font-weight: lighter;
}

label {
    color: #757b87;
    font-weight: lighter;
    padding: 10px 5px;
}

p {
    text-align: justify;
}

p label {
    text-align: justify;
}
/* ----------Custom Color Code ---------- */

.primary,
.primary>a,
.primary>a:visited,
.primary>a:hover,
.primary>a:active {
    color: #418bca;
    text-decoration: none;
}

.danger,
.danger>a,
.danger>a:visited,
.danger>a:hover,
.danger>a:active {
    color: #ef6f6c;
    text-decoration: none;
}

.success,
.success>a,
.success>a:visited,
.success>a:hover,
.success>a:active {
    color: #01bc8c;
    text-decoration: none;
}

.warning,
.warning>a,
.warning>a:visited,
.warning>a:hover,
.warning>a:active {
    color: #f60;
    text-decoration: none;
}

.yellow,
.yellow>a,
.yellow>a:visited,
.yellow>a:hover,
.yellow>a:active {
    color: #FFD43C;
    text-decoration: none;
}

.btn-primary {
    color: white!important;
    background: #f60;
    border-color: #e05600;
}

.btn-primary:hover {
    background: #ff5000;
    border-color: #e05600;
}

.btn-success {
    color: white!important;
    background: #01bc8c;
    border-color: #00a576;
}

.btn-success:hover {
    background: #02c994;
    border-color: #00a576;
}

.btn-default {
    color: #757B87!important;
}
/* ---------- //Custom Color Code End ---------- */
/* ---------- Text-Bg color Code Css ---------- */

.bg-default {
    background-color: #f5f5f5;
}

.bg-primary {
    background-color: #418bca;
    color: #fff;
}

.bg-success {
    background-color: #01bc8c;
    color: #fff;
}

.bg-danger {
    background-color: #ef6f6c;
    color: #fff;
}

.bg-warning {
    background-color: #f60;
    color: #fff;
}

.bg-info {
    border: 1px solid #A0DEF2;
    background: #D9EDF7;
}

.dotted-line {
    border-top: dotted 1px #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column-text {
    margin-bottom: 5px;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.pagination {
    margin: 20px 0;
}

.no-padding {
    padding: 0;
}

.full-width {
    width: 100%
}

.width-90 {
    width: 90%;
}

.width-95 {
    width: 95%;
}

.hidden {
    display: none;
}

.align-center {
    margin: 0 auto;
}

.panel-no-border {
    border: none;
    box-shadow: none;
}

.no-border {
    border: none!important;
}

.no-bg {
    background: none!important;
}

.has-error,
.form-group-error input,
.form-group-error textarea,
.form-group-error select{
    border: 1px solid #f56954;
}

/* ---------- //Text-Bg color Code Css End ---------- */
/* ---------- Why choose us Section css ---------- */

#accordion {
    margin-top: 2%;
}

.text_bg {
    background-color: #f2eded !important;
}
/* ---------- //Why choose us Section End ---------- */
/* ---------- Text-Bg Border color Code Css ---------- */

.border-primary {
    border-bottom: 2px solid #418bca;
    padding-bottom: 5px;
}

.border-warning {
    border-bottom: 2px solid #F60;
    padding-bottom: 5px;
}

.border-warning-2 {
    border-bottom: 1px solid #F60;
    padding-bottom: 5px;
}

.border-success {
    border-bottom: 2px solid #01bc8c;
    padding-bottom: 5px;
}

.border-success-2 {
    border-bottom: 1px solid #01bc8c;
    padding-bottom: 5px;
}

.border-danger {
    border-bottom: 2px solid #ef6f6c;
    padding-bottom: 5px;
}

.progress-bar-success {
    background-color: #01bc8c;
}
/* ---------- //Text-Bg Border color Code Css End---------- */
/* ---------- Text-Success Css---------- */

.text-success {
    color: #01bc8c !important;
    background-color: inherit;
}

.text-danger {
    color: #ef6f6c;
}

.text-warning {
    color: #F60;
}

/** Ads list **/
#ads-list {

}

.filter-status {
    display: block;
    color: #757B87!important;
}

.filter-status:hover, .filter-status-active {
    border: 1px solid #eee;
    background: #f9f9f9;
}

/** Select2 **/
.select2-container--default .select2-results__option[aria-selected=true] {
    background: #eee;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #f60;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #757B87
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
}

.select2-container--default .select2-dropdown {
    border: 1px solid #ccc;
}

/** Search page */
#ads-search-form {
    text-align: left;
}

#ads-search-form label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 16px;
    padding: 0;
}

.filter-title {
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    overflow:hidden;
}

a.clear-filters {
    margin-bottom: 10px;
}

.new-filter {
    margin-top: 8px;
}

.active-filters div {
    overflow: hidden;
    position: relative;
    text-align: left;
    padding: 5px;
    margin: 0 0 10px 0;
    background: #eee;
}

.active-filters div a {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    float: right;
    border-radius: 50%;
    background: white;
}

.active-filters div a:hover {
    color: white;
    background: #f60;
}

#ads-search-form .select2-container {
    width: 100%!important;
}

#ads-search-form .slider-selection, #ads-search-form .slider-handle {
    background: #01bc8c;
}

#ads-search-form .slider-horizontal {
    width: 100%;
    margin: 10px 0;
}

.search-loader-wrap {
    display: none;
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: #eee;
    opacity: .5;
    cursor: not-allowed;
    z-index: 100;
}

.search-loader-wrap .loader {
    margin: 0 auto;
    text-align: center;
}

.search-loader-wrap .loader img {
    margin-top: -6px;
}

#ads-stage {
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.saved-searches, .saved-ads {
    visibility: hidden;
}

/** Add details **/
.ad-detailed {
    margin-top: 20px;
}

.ad-detailed #ad-desc {
    margin: 20px 6px 0 6px;
    padding: 0 40px;
}

.ad-detailed #ad-desc .tab-pane {
    padding: 20px 10px;
}

.ad-detailed #ad-desc p {
    font-size: 16px;
    line-height: 24px;
}

.ad-detailed #map {
    /*min-width: 300px;*/
    min-height: 300px;
}

.ad-detailed #ad-contact {
    margin: 10px 6px 40px 0;
    padding: 0 56px;
}

.ad-detailed #ad-contact .email-sent {
    display: none;
}

.contact-seller {
    overflow: hidden;
    position: relative;
    border-top: dotted 1px #ccc;
    padding-top: 10px;
    /*padding-bottom: 10px;*/
    background: #f9f9f9;
}

.contact-seller .with-error input,
.contact-seller .with-error textarea {
    border: 1px solid #F60;
}

/** Create ad **/
.ad-footer p {
    padding-top: 10px;
    font-size: 16px;
}

.ad-footer input[type=submit] {
    margin-top: 4px;
}

.ad-footer {
    padding-top: 20px;
    padding-bottom: 40px;
}

.ad-footer div.col-md-10, .ad-footer div.col-md-2 {
    padding-top: 20px;
    border-top: 1px solid #eee;
}

#create-ad-form .select2 {
    width: 100%!important;
}

#create-ad-form .ad-media {
    overflow: hidden;
    position: relative;
}

#create-ad-form .add-video-block {
    display: none;
    overflow: hidden;
    position: relative;
    width: 98%;
    margin: 10px 0 10px 2px;
    padding: 10px;
    background: #fcfcfc;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#create-ad-form .add-video-block input {
    float: left;
    width: 78%;
}

#create-ad-form .add-video-block .btn-group-vertical {
    float: right;
    width: 20%;
}

#create-ad-form .add-video-block .text-muted {
    width: 78%;
    line-height: 33px;
    font-size: 12px;
    color: #aaa;
    text-align: right;
}

#create-ad-form .ad-media .ad-media-item {
    overflow: hidden;
    position: relative;
    width: 98%;
    margin: 10px 2px;
    background: #fcfcfc;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#create-ad-form .ad-media .ad-media-edit {
    display: none;
}

#create-ad-form .ad-media img {
    float: left;
    width: 23%;
    margin: 6px;
    cursor: pointer;
}

#create-ad-form .ad-media div.ad-media-item-form {
    overflow: hidden;
    width: 70%;
    float: left;
    margin: 6px 0;
}

#create-ad-form .ad-media div.ad-media-item-form input {
    width: 73%;
    float: left;
}

#create-ad-form .ad-media div.ad-media-item-form a {
    /*width: 25%;*/
    /*float: right;*/
    /*padding: 5px 12px;*/
    /*margin-bottom: 2px;*/
}

#create-ad-form .ad-media div.ad-media-item-form span {
    display: block;
}

#create-ad-form .ad-media .btn-group-vertical {
    width: 25%;
}

#create-ad-form .error-input,
#create-ad-form .with-error input,
#create-ad-form .with-error textarea,
#create-ad-form .with-error .select2-selection {
    border: 1px solid #F60;
}

#create-ad-form .ad-media-closed {
    width: 23%!important;
    float: left;
    box-shadow: none!important;
    background: none!important;
}

#create-ad-form .ad-media-closed div.ad-media-item-form {
    display: none;
}

#create-ad-form .ad-media-closed img {
    width: 100%!important;
    margin: 0!important;
}

#create-ad-form .progress {
    display: none;
    margin: 15px 0;
}

#create-ad-form .progress div {
    width: 0;
}

#create-ad-form .ad-media-message {
    /*display: none;*/
    text-align: center;
    margin: 5px 0;
    padding: 5px 2px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;

}

#create-ad-form .mce-tinymce {
    margin-top: 20px;
    margin-bottom: 5px;
    border: none;
    background: white;
}

#create-ad-form .mce-tinymce button,
#create-ad-form .mce-tinymce button i,
#create-ad-form .mce-tinymce .mce-path-item {
    color: #757B87;
}

#create-ad-form .mce-tinymce,
#create-ad-form .mce-panel {
    border-color: #ddd!important;
    background: white;
}

#create-ad-form .mce-btn {
    background: none;
}

#create-ad-form .mce-toolbar-grp {
    background: #f9f9f9!important;
}

#create-ad-form .mce-statusbar {
    background: #f9f9f9;
}

.edit-ad-title {
    margin-bottom: 20px;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.edit-ad-title h4 {
    margin-top: 20px;
}

/** Single add **/
.ad-main-photo img {
    width: 100%;
    /*height: 480px;*/
}

form.contact-seller .g-recaptcha {
    float: right;
}

.contact-seller textarea {
    height: 204px;
}

/** Compare Page **/
.compare-table {
}

.compare-table td {
    text-align: center;
}

.compare-table td.text-right {
    text-align: right;
}

.compare-table.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #dff0d8;
}

.compare-table tr th {
    vertical-align: top!important;
}

td.compare-title {
    vertical-align: middle!important;
    background: white;
    /*border: none!important;*/
    border-right: 1px solid #ddd!important;
    border-bottom: 1px solid #ddd;
}

.compare-table img {
    width: 100%;
}

/** Registration page **/
#registration-form .help-block, {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0!important;
}

#registration-form .plans {
    margin-bottom: 20px;
}

.panel-body  #registration-form .plans .btn:not(.btn-block) {
    width: 260px!important;
}

/* ---------- //Text-Success End---------- */
/* ---------- Nav bar Css Start ---------- */

.navbar-right {
    margin-right: 30px;
}

.icon-position label {
    padding-left: 0px;
    margin-left: 0px;
}

.logo_position {
    position: relative;
    bottom: 13px;
    width: 100%;
}

.navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-default .navbar-nav > li>a:hover {
    color: #F60;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
/* ---------- Navbar  Dropdown menu Css ---------- */

.navbar-nav .dropdown-menu:before {
    bottom: 15px;
    width: 0;
    height: 0;
    left: 100px;
    z-index: 1002;
    content: " ";
    display: block !important;
    position: relative;
    border-bottom: 8px solid #ef6f6c;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
/* ---------- //Navbar  Dropdown menu Css End ---------- */
/* ---------- Navbar  Dropdown menu hover Css ---------- */

.navbar-nav .dropdown-menu a:hover {
    border-left: 2px solid #F60;
}
/* ---------- //Navbar  Dropdown menu hover Css End ---------- */

.navbar-default .navbar-nav >.open >a:hover,
.navbar-default .navbar-nav >.open >a {
    background-color: #fff !important;
    color: #F60;
}

.navbar-nav .dropdown-menu li:hover {
    border: none;
}

.navbar {
    margin-bottom: 0px;
    background-color: black;
    border: none;
}
/* ---------- Nav bar Css End ---------- */
/* ---------- Breadcrumb Css ---------- */

.breadcrumb a,
.breadcrumb a:visited,
.breadcrumb a:hover,
.breadcrumb a:active {
    color: #3d3d3d;
    text-decoration: none;
}

.breadcum {
    background-color: #DBD6D6;
    border-top: 2px solid #b7b0b0;
    border-bottom: 2px solid #b7b0b0;
    padding: 0px 2%;
}

.breadcum .pull-right {
    padding: 8px 15px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #DBD6D6;
    border-radius: 4px;
    float: left;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #3d3d3d;
    content: none;
}
/* ---------- //Breadcrumb Css End ---------- */
/* ---------- Breadcrumb Icon Section Css ---------- */

.icon3 {
    position: relative;
    top: 5px;
    left: 0px;
}

.icon4 {
    left: -1px;
    top: 3px;
}
/* ---------- //Breadcrumb Icon Section End ---------- */
/* ---------- Carousel Css ---------- */

.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 0;
    background-color: #000;
    border: 1px solid #5E5E5E;
}

.carousel-indicators li {
    border: 1px solid #5E5E5E;
    width: 13px;
    height: 13px;
}

.carousel-caption {
    font-size: 30px;
}
/* ---------- //Carousel Css End ---------- */

blockquote {
    border-left: 2px solid #ef6f6c;
}
/* ---------- Testimonial Images Css Start ---------- */

.author {
    padding: 15px;
    background: #f6f6f6;
    margin-bottom: 10px;
}

.author img {
    width: 50px;
}
/* ---------- //Testimonial Images Css End ---------- */
/* ---------- Feature Section Css ---------- */

.features i {
    line-height: 2px;
    float: left;
    margin: 1px 5px;
}
/* ---------- //Feature Section Css End ---------- */
/* ---------- Menu Section Css ---------- */

.menu > li {
    border: 1px solid #f89a14;
    padding: 10px 13px;
    margin: 0px 10px;
}

.menu {
    margin-top: 20px;
}

.menu > li:hover,
.menu li .active {
    background-color: #01bc8c;
}
/* ---------- //Menu Section Css End ---------- */

.tabbable-panel ul {
    list-style-type: none;
}
/* ---------- Our services Box  Style Css ---------- */

.section {
    background: url('../images/backgrounds/back_img3.jpg');
    height: 500px;
    display: block;
    width: 100%;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 15px;
    text-align: right;
    display: block;
    margin-top: 60px;
    margin-bottom: 15px;
}
/* ---------- //Our services Box  Style Css End ---------- */
/* ------------- Our Services Box Icon Css ---------- */

.box-icon {
    background-color: transparent;
    border: 1px solid #01bc8c;
    border-radius: 50%;
    display: table;
    height: 80px;
    margin: 0 auto;
    width: 80px;
    margin-top: -61px;
}
/* ------------- //Our Services Box Icon Css End ---------- */

.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/* ---------- Our Services Icon Border css ---------- */

.box-icon1 {
    border: 1px solid #418bca;
}

.box-icon2 {
    border: 1px solid #f60;
}

.box-icon3 {
    border: 1px solid #FFD43C;
}
/* ---------- //Our Services Icon Border css ---------- */
/* ---------- Our services Text Css----------*/

.info > p {
    color: #787878;
    font-size: 14px;
    padding-top: 10px;
    text-align: justify;
}
/* ---------- //Our services Text End ----------*/
/* ---------- Our service Icon Css ---------- */

.icon {
    position: relative;
    right: 11px;
    top: 14px;
}

.icon1 {
    position: relative;
    right: 10px;
    top: 12px;
}
/* ---------- //Our service Icon Css End---------- */
/* ---------- Feature main Section Start --------- */

.feature-main {
    padding: 50px 0px;
    background-color: #f2eded;
}

.feature-main1 {
    padding: 50px 0px;
}

.layout-styl {
    padding: 80px 0px;
}

.layout-styl li {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300 !important;
    color: #515763;
    text-align: left
}
/* ---------- //Feature main Section End --------- */
/* ---------- Purchase Section Css Start ---------- */

.purchas-main {
    padding: 10px 0px;
}

.bg-border {
    background: #f2eded;
    border-left: 3px solid #01bc8c;
    padding-top: 20px;
    padding-bottom: 20px;
}

.purchae-hed {
    margin-bottom: 20px;
    margin-left: 15px;
    color: #01bc8c;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
}

.purchase-styl {
    padding: 15px 80px;
    background-color: #01bc8c;
    border: none;
    box-shadow: 0px 2px 0px #268a70;
    color: #fff !important;
    margin-right: 20px;
    margin-top: 10px;
}

.purchase-styl:hover,
.purchase-styl:active,
.purchase-styl:focus {
    background-color: #01bc8c !important;
}
/* ---------- //Purchase Section Css Ebd ---------- */
/* ---------- Our Team Divide Section Css ---------- */

.divide {
    border-top: 1px solid #848481;
    padding: 5px;
}

.divide > a {
    padding: 3%;
}
/* ---------- //Our Team Divide Section Css End ---------- */

.section1 {
    background: url('../images/backgrounds/island.jpg') no-repeat;
    height: 600px;
    width: 100%;
}

.pull-right a {
    color: #128bc6;
}

.input-group-addon {
    color: #fff;
    background-color: #b16461;
    border: 1px solid #5E5E5E;
}

.team img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
/* ---------- News Section Css----------*/

.news {
    margin-top: 2%;
}
.news .form-group{
    width: 80%;
}
.news .form-control {
    background-color: #444343;
    border: 1px solid #5E5E5E;
    color: #f3f3f3;
}

.news > .form-control:focus {
    border-color: #5E5E5E;
    outline: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0);
}
/* ---------- //News Section Css End ---------- */

.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #DDD;
}
/* ---------- Headings Border Css ---------- */

.heading_border {
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;
    padding: 5px 15px;
}
/* ---------- //Headings Border Css End---------- */

.tab img {
    width: 100%;
}

.tab {
    padding-left: 0px;
}

.tab_list > li {
    padding: 5px;
}

.tab_list {
    margin-top: 15px;
    padding-left: 0px;
}

.profile img {
    width: 100%;
}
/* ---------- Footer Section Css ---------- */

footer {
    background-color: #262626;
}

footer h4 {
    color: #fff;
}

.footer-text {
    color: #ababab;
    padding: 30px 0px;
}

footer img {
    width: 50px;
}

footer .btn-primary.text-white {
    margin-top: 2%;
}
/* ---------- //Footer Section Css End ---------- */

.text-white {
    color: #fff !important;
}

.bg-white {
    background-color: #fff;
}

@media(max-width: 370px) {
    .properties {
        border-right: none;
    }
    .media-object img {
        width: 50%;
    }
}
/* ---------- About Us Slider Css ---------- */

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo {
    margin: 0px;
}

#bar {
    width: 0%;
    max-width: 100%;
    height: 3px;
    background: #01bc8c;
}

#progressBar {
    width: 100%;
    background: #EDEDED;
}
/* ---------- //About Us Slider Css End ---------- */

.center-block {
    margin-bottom: 0px;
    font-size: 18px;
    margin-top: 0px;
}

.sliders {
    background-color: #fdfcfc;
    padding: 20px;
}

.sliders h4 {
    margin-bottom: -5%;
}

.sliders h5 {
    padding-top: 4%;
}

.marbtm10 h3 {
    margin-bottom: 0px;
}
/* ---------- Back to top Section Icon Css ---------- */

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    border-radius: 50%;
    padding: 15px;
    border: none;
    font-size: 10px;
    opacity: 0.7;
}

.back-to-top:hover {
    opacity: 1;
}
/* ---------- //Back to top Section Icon Css End---------- */
/* ---------- Copy Right Section Css  ---------- */

.copyright {
    background-color: #1a1a1a;
}

.copyright p {
    color: #fff;
    padding: 0.5% 0;
    margin: 0.5% 0;
}
/* ---------- //Copy Right Section Css  ---------- */
/* ---------- Advanced Features Css ---------- */

.advanced button,
.tooltips button,
.pop button {
    margin-bottom: 15px;
}
/* ---------- //Advanced Features Css ---------- */

@media(max-width: 759px) {
    .navbar-nav .dropdown-menu:before {
        content: none;
    }
}

@media(max-width: 950px) {
    .profile {
        display: block;
        margin-right: 4%;
        margin-left: 4%;
    }
}
